.connection {
    width: 300rem;
    height: auto;
    margin: 0 auto; /* Center the image */
    display: flex;
    size-adjust: 50%;
  }
  
  .details_AU {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    position: relative;
    top: 50px;
    text-align: center; /* Center the text */
  }
  
  @media screen and (min-width: 100px) {
    /* Apply styles for screens that are 768px wide or larger */
    .details_AU {
      font-size: 60px;
      top: 100px;
      left: 40%;
      transform: translateX(-50%); /* Center the text horizontally */
      transform: translateY(-50%);
    }
  }
  
  @media screen and (min-width: 100px) {
    /* Apply styles for screens that are 992px wide or larger */
    .connection {
      max-width: 100%;
      width: 300rem;
    }
  }
  