.element-class {
    position: relative;
}

.element-class:before,
.element-class:after {
    content: '';
    display: block;
    position: absolute;
    background-color: transparent;
    pointer-events: none;
}

.element-class:before {
    top: 0;
    left: 0;
    right: 70%;
    bottom: 100%;
    border-top: 4px solid #3f3e3e;
    border-left: 4px solid #3f3e3e;
}



.myheader {
    font-size: 24px;
    font-weight: bolder;
    color: #3f3e3e;
    text-align: left;
    font-family: 'Roboto';
}